@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
     font-family: "Inter", sans-serif;
     font-size: 16px;
     line-height: 20px;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

.mi-navbar {
    background-color: rgb(85, 83, 83);
    margin-bottom: 0;
}

.collapse navbar-collapse {
    color: white;
}

.mi-navbar .nav-link {
  position: relative;
  color: white !important;
  transition: color 0.3s ease;
}

.mi-navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: rgb(216, 161, 141);
  transition: width 0.3s ease;
}

.mi-navbar .nav-link:hover::after {
  width: 100%;
}

.mi-navbar .nav-link:hover {
  color: rgb(216, 161, 141);
}


.footer {
    display: flex;
    align-items: center;
    clear: both;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    justify-content: center;
    border-top: 1px solid rgb(216, 161, 141);
}

.mi-navbar .navbar-brand img {
    border-radius: 20px;
    object-fit: cover;
}

.mi-navbar .navbar-brand {
    color: white !important;
    font-weight: bold;
}

.navbar-brand{
    display: flex;
    align-items: center;
    gap: 10px;
}

