.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    line-height: 1.8;
}

.homeimg {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    line-height: 0;
}

.homeimg img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    display: block;
}

.testimonios {
    width: 25%;
}

.columnas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.bienvenidos p {
    font-size: 17px;
    line-height: 1.8;
}

.testimonio {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 161, 141);
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(216, 161, 141);
}

.testimonio .autor {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: rgb(255, 193, 171);
    display: block;
    font-weight: bold;
    text-align: center;
}

.testimonio .cita {
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 12px 0;
}

