.novedades {
    text-align: start;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.novedades p {
    line-height: 1.8;
}

.novedades h5 {
    color: rgb(85, 83, 83);
    border-bottom: 1px solid rgb(216, 161, 141);
}

.novedades h4 {
    border-top: 1px solid rgb(216, 161, 141);
    margin-bottom: 10px;
}

.item1 {
    background-color: rgb(231, 231, 231);
    max-width: 800px;
    margin: 0 auto;
    border-left: 6px solid rgb(216, 161, 141);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(216, 161, 141);
}

.item1:hover {
    transform: translateX(12px);
    background-color: rgb(216, 161, 141);
}

.item2 {
    background-color: rgb(231, 231, 231);
    max-width: 800px;
    margin: 0 auto;
    border-left: 6px solid rgb(216, 161, 141);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(216, 161, 141);
}

.item2:hover {
    transform: translateX(12px);
    background-color: rgb(216, 161, 141);
}

.item3 {
    background-color: rgb(231, 231, 231);
    max-width: 800px;
    margin: 0 auto;
    border-left: 6px solid rgb(216, 161, 141);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(216, 161, 141);
}

.item3:hover {
    transform: translateX(12px);
    background-color: rgb(216, 161, 141);
}