.previsional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 127, 101);
    margin: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.familia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 127, 101);
    margin: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.sucesiones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 127, 101);
    margin: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.contratos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 127, 101);
    margin: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.consumo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 127, 101);
    margin: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.previsional h4 {
    color: rgb(141, 89, 70);
}

.familia h4 {
      color: rgb(141, 89, 70);
}

.contratos h4 {
      color: rgb(141, 89, 70);
}

.consumo h4 {
      color: rgb(141, 89, 70);
}

.sucesiones h4 {
      color: rgb(141, 89, 70);
}