body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
  background-color: rgb(85, 83, 83);
  padding: 16px 0;
}

header h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

footer {
    display: flex;
    align-items: center;
    clear: both;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    justify-content: center;
    border-top: 1px solid rgb(216, 161, 141);
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

img{
    border: 1px solid black;
    border-radius: 5px;
}
